<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moadata</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1 class="title">Moadata</h1>
<section id="upload-section5" class="upload-section">
    <form method="POST">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control job_id" placeholder="job_id">
            </div>
            <div class="col">
                <input type="text" class="form-control job_name" placeholder="job_name">
            </div>
            <div class="col">
                <input type="text" class="form-control column_name" placeholder="column_name">
            </div>
            <button type="button" onclick="fixJob()" class="btn btn-primary">PUT</button>
        </div>
    </form>
</section>
<section id="upload-section" class="upload-section">
    <form action="/jobs" method="POST">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Job_name" name="job_name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Column name" name="column_name">
            </div>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </form>
</section>
<section id="upload-section2" class="upload-section">
    <form action="/csv" enctype="multipart/form-data" method="POST">
        <div class="form-row">
            <div class="custom-file col">
                <label class="custom-file-label" for="csvFile">Choose CSV</label>
                <input type="file" name="filename" class="custom-file-input" id="csvFile">
            </div>
            <button type="button" onclick="postCSV()" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>
<section id="upload-section4" class="upload-section">
    <form method="GET">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control get-job-id" placeholder="Job_id">
            </div>
            <button type="button" onclick="getJob()" class="btn btn-primary">GET</button>
        </div>
    </form>
</section>
<section id="upload-section3" class="upload-section">
    <form method="POST" action="/jobs">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control del-job-id" placeholder="Job_id">
            </div>
            <button type="button" onclick="jobDelete()" class="btn btn-danger">Delete</button>
        </div>
    </form>
</section>
<section class="upload-section">
    <div class="job-id"></div>
</section>
<section class="upload-section">
    <div class="job-list"></div>
</section>
</body>
<script defer src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script defer src="../static/bootstrap.bundle.min.js"></script>
<script defer src="../static/main.js"></script>
</html>